MONGODB_URI=

JWT_SECRET=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_ENV=PRODUCTION

FRONTEND_URL=

NODE_ENV=production